<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}enhavo{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {{ encore_entry_link_tags('base', null, 'theme') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
    {{ encore_entry_script_tags('base', null, 'theme') }}
    {% block javascripts %}{% endblock %}
</body>
</html>